body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.bg {
    margin: 25px;
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    z-index: 1000;
    height: 40px;
    width: 125px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    font-size: 20px;
    user-select: auto;
    pointer-events: auto;
    transition: all 0.3s ease;
}

.start:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transform: translateY(-6px);
}
