<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Viewer - Space</title>
    <link rel="icon" href="../static/pngimg.com - earth_PNG25.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
			}
		</script>
  </head>

  <body>

    <div class="container">
      <div class="bg">
        <button class="start">Start</button>
      </div>
    </div>

    <script type="module" src="../static/space.js"></script>
  </body>
</html>